body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  color: #111;
  background: #edeff0;
  /* Add tiled background.svg */
  background-image: url('svgs/background.svg');
}

#container {
  max-width: 960px;
  background: #fff;
  margin: 0 auto;
  height: 100%; /* new line */
}

p {
  max-width: 350px;
  margin: 35px auto 0;
  line-height: 2em;
  text-align: left;
}

a {
  text-decoration: none;
  color: #39add1;
  font-weight: 700;
}

header {
  padding-top: 10px;
}

header nav {
  padding-bottom: 50px;
  text-align: left;
}

header nav ul li {
  display: inline-block;
  margin-right: 20px;
}

main {
  padding-top: 50px;
}

main h2 {
  font-size: 28px;
}

footer {
  width: 100%;
  margin-top: 100px;
  padding-bottom: 30px;
  color: #ba8058;
}

/* Nav Style */

ul {
  padding-top: 3%;
  list-style: none;
  display: flex;
}

li {
  margin-right: 5%;
}
/* Change Nav Text and Icon color upon :hover; while also scaling Nav Icon(s) */

li:hover path, .color-change:hover, a:hover {
  fill: firebrick;
  color: firebrick;
  transform-origin: 27px 24px;
  transform: scale(.9);
}

.color-change {
  transition: transform .2s ease-out;
}

/* Logo Style */

#Layer_1 {
  width: 140px;
  height: 120px;
}

.st1,
.st2 {
  transition: transform 1s;
  transform-origin: center;
}

#Layer_1:hover .st1 {
  transform: rotate(360deg)scale(.9);
}

#Layer_1:hover .st2 {
  transform: rotate(-360deg)scale(.9);
}

.st1 {
  display: none;
}

.tablet-heading {
  margin: 50px 60px 0px 60px;
  color: #eaaa7f;
  text-shadow: 0 0 .1em, 0 0 .3em;
  background: #000;
  border-radius: 15px;
}

/* Logo text/H1 heading @media swap  */

@media(min-width: 425px) {
  .tablet-heading {
    display:none;
  }
  .st1, .st1:hover {
    display: block;
  }
  #Layer_1 {
    margin-top: 50px;
  }
}

/* Corgi Coats and Layout */

.corgi-coats {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.corgi-coats div {
  display: flex;
  flex-direction: column;
  padding-right: 20px;
}

span {
  padding-right: 40px;
  color: #da8058;
}

.sable {
  fill: currentColor;
  color: #BB8058;
}

.fawn {
  fill: currentColor;
  color: #C2977A;
}

.red {
  fill: currentColor;
  color: #9B6541;
}

.stone {
  fill: currentColor;
  color: #52595f;
}
